<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whz.mapper.DoctorMapper">

<!--    core round()函数取小数点后几位-->
    <select id="getDoctorList" resultType="com.whz.entity.Doctor">
        select s.id,s.name,s.education,s.is_online,s.avatar_url,s.introduce,ifnull(round(avg(d.score),1),4) as score
        from sys_doctor s
        left join
             doctor_evaluate d
        on s.id = d.doctor_id
        where s.state = 1
        <if test="name != null and name != ''">
            and name LIKE concat('%',#{name},'%')
        </if>
        group by s.id
    </select>

</mapper>
