<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whz.mapper.ForumMapper">

    <sql id="forumAll">
        select f.id,f.title,f.see,f.content,f.time,f.outline,u.nickname,u.avatar_url,
               coalesce(max(cm.comment_sum),0) as comment_sum,
               coalesce(count(case when c.collection = 1 then 1 else null end), 0) AS collection
        from medicine_forum as f
                 left join sys_user as u
                           on f.user_id = u.id
                 left join (select forum_id,count(comment) AS comment_sum from forum_comment group by forum_id) as cm
                           on f.id = cm.forum_id
                 left join forum_collection as c
                           on f.id = c.forum_id
    </sql>


    <select id="pageList" resultType="com.whz.entity.Forum">
        <include refid="forumAll"></include>
        <if test="forum != null">
            <trim prefix="where" prefixOverrides="and">
                <if test="forum.title != null and forum.title != ''">
                    and f.title like concat('%',#{forum.title},'%')
                </if>
                <if test="forum.nickname != null and forum.nickname != ''">
                    and u.nickname like concat('%',#{forum.nickname},'%')
                </if>
            </trim>
        </if>
        group by f.id
        order by f.time desc
    </select>

    <select id="queryById" resultType="com.whz.entity.Forum">
        <include refid="forumAll"></include>
        where f.id = #{id}
        group by f.id
    </select>

    <select id="selectByTitle" resultType="com.whz.entity.Forum">
        <include refid="forumAll"></include>
        where f.title like concat('%',#{title},'%')
        group by f.id
    </select>

</mapper>
